<ion-header>

  <ion-navbar>
    <!-- <div>
      <ion-icon name="menu"></ion-icon>
    </div> -->
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <div class="home-body home-body-1">
        <div class="cardRota" *ngFor="let rota of _rotas">
            <div class="cardRota-img">
                <img src="{{rota._foto}}" />
            </div>
            <div class="cardRota-info">
                <div class="cardRota-local">
                    <span>
                        {{rota._localPartida}}
                    </span>
                    <ion-icon name="arrow-forward" style="color:#F05782; padding: 0 4px"></ion-icon>
                    <span>
                        {{rota._localDestino}}
                    </span>
                </div>
                <div class="bottom-items">
                    <span>
                        <ion-icon name="md-time" class="bottom-icon-color"></ion-icon>
                        {{rota._horario}}
                    </span>
                    <span>
                      <ion-icon name="md-contact" class="bottom-icon-color"></ion-icon>
                      {{rota._nome}}
                    </span>
                    <span>
                      <ion-icon name="md-star" class="bottom-icon-color" style="color: #E6A23C"></ion-icon>
                      {{rota._avaliacaoMedia}}
                    </span>
                </div>
            </div>
            <div class="cardRota-conteudo-icone">
                <ion-icon name="ios-arrow-forward-outline" > </ion-icon>
            </div>
        </div>
        <div (click)="irParaCadastrarRota()" class="adicionar-novo">
            +
        </div>
      </div>


      <div class="home-body home-body-2" style="display:none;">
        <div class="saldo" (click)="trocaMenuSaldo()"> 
          <div class="saldo-resumo" >
            <div class="saldo-valor"> 
              R$58,00
            </div>
            <div class="saldo-info"> 
              Você já economizou <span class="green">R$ 12,50</span> nesse mês comprando em nossos parceiros.
            </div>
          </div>

          <div class="saldo-historico" style="display:none;">
            <ion-scroll scrollY="true">
            <div class="cardHistorico" *ngFor="let historico of _historicoSaldos">
              <div class="cardHistorico-img">
                  <ion-icon name="logo-usd" style="color:#C0C4CC; padding: 0 4px; left: 14px; position: relative; font-size: 24px"></ion-icon>
              </div>
              <div class="cardHistorico-info">
                <div class="cardHistorico-local">
                  <span>
                    {{historico._titulo}}
                  </span>
                  <span style="margin-right:20px">
                    {{historico._data}}
                  </span>
                </div>
                <div class="bottom-items">
                  <span>
                    {{historico._valor}}
                  </span>
                </div>
              </div>
            </div>
          </ion-scroll>
        </div>

            <div class="paginacao">
                <div class="paginacao-1"></div>
                <div class="paginacao-2 paginacao-2-inativo"></div>
            </div>
        </div>

        <div class="saldo-button">
          <div class="saldo-button-1">
            <ion-icon name="md-arrow-down" class="bottom-icon-color-ativo icon-free-pos"></ion-icon>
            <div><ion-icon name="md-cash" style="color:#F05782; padding: 0 4px; font-size: 24px;"></ion-icon></div>
            <div>Recarregar</div>
          </div>
          <div class="saldo-button-2">
            <ion-icon name="md-arrow-up" class="bottom-icon-color-ativo icon-free-pos"></ion-icon>
            <div><ion-icon name="md-cash" style="color:#F05782; padding: 0 4px; font-size: 24px;"></ion-icon></div>
            <div>Pagar</div>
          </div>
        </div>
      </div>
      

      <div class="botoesRodape">
        <div (click)="trocaMenu(1)">
          <ion-icon  style="font-size: 24px;" name="md-car" class="bottom-icon-color bottom-icon-color-ativo"></ion-icon>
        </div>
        <div (click)="trocaMenu(2)">
            <ion-icon   style="font-size: 24px;" name="md-cash" class="bottom-icon-color"></ion-icon>
        </div>
        <div (click)="trocaMenu(3)">
            <ion-icon   style="font-size: 24px;" name="md-chatbubbles" class="bottom-icon-color"></ion-icon>
        </div>
      </div>

</ion-content>
