page-home {

}
.cardRota {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.075);
}

.home-body-1{
    font-family: "Roboto";

    width: 90vw;
    height: 93%;
    margin: auto;
}

.cardRota-img > img {
    border-radius: 3em;
    width: 35px;
    height: 35px;
}

.cardRota-local {
    border-radius: 3em;
}


.cardRota-local-arrow {
    // border-radius: 3em;
}

.cardRota-info {
    display: flex;
    flex-flow: column;
    width: 80%;
    justify-content: flex-start;
}

.cardRota-info>div:nth-child(1) {
    font-weight: 500;
    padding-bottom: 5px;
    color: #303133;
    padding-left: 4px;
}

.cardRota-info>div:nth-child(2) {
    color: #303133;
    font-size: 11px;
}

.bottom-items{
    display: flex;
    align-items: center;
}

.bottom-items > span{
    margin-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-icon-color{
    color: #C0C4CC;
    padding: 0 4px;
}



.bottom-icon-color-ativo{
    color: #F05782;
    padding: 0 4px;
}





.botoesRodape {
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 2px 0px rgba(74, 74, 74, 0.97);
    height: 50px;
    position: absolute;
    bottom: 0px;
}

.botoesRodape > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}


.botoesRodape-inativo {
    background-color: #a8a8a8;
    color: white; 
}


// BODY 2
.home-body-2{
    font-family: "Roboto";
    width: 100vw;
    height: 90%;
    margin: auto;
    background: #F5F5F5;
}

.saldo,.saldo-button-1,.saldo-button-2 {
    border: 1px solid #DCDFE6;
    border-radius: 5px;
    background: white;
    height: inherit;
    width: inherit;
    margin: 20px 0px;
}
.saldo-button{
    width: 90vw;
    height: 29%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.saldo-button > div{
    display: flex;
    flex-flow: column;
    align-items: center; 
    justify-content: space-evenly;
    padding: 20px;
    width: 48%;
    height: auto;
    position: relative;
}
.saldo {
    width: 90vw;
    margin: auto;
    height: 73%;
    top: 2%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
    padding: 20px;

    font-family: 'Roboto';
    color: #303133;
}
.saldo-valor{
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 15px; 
}
.green{
    color: #67C23A;
    font-weight: 500;
}

.icon-free-pos{
    font-size: 15px;
    position: absolute;
    top: 17%;
    left: 51%;
}

.paginacao{
    display: flex;
    position: absolute;
    bottom: 5px;
    left: calc(50% - 22px);
}

.paginacao > div{
    margin: 5px;
    border-radius: 3em;
    background: #F05782;
    height: 12px;
    width: 12px;
}
.paginacao-1-inativo, .paginacao-2-inativo {
    background: #DCDFE6 !important;
}

.saldo-historico, .saldo-historico > ion-scroll{
    height: 95%;
    width: 100%;
}

.cardHistorico {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.075);
}

.cardHistorico-img > img {
    border-radius: 3em;
    width: 35px;
    height: 35px;
}

.cardHistorico-local {
    border-radius: 3em;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    margin-left: -4px;
}

.cardHistorico-info {
    display: flex;
    flex-flow: column;
    width: 80%;
    justify-content: flex-start;
}

.cardHistorico-info>div:nth-child(1) {
    font-weight: 500;
    padding-bottom: 5px;
    color: #303133;
    padding-left: 4px;
}

.cardHistorico-info>div:nth-child(2) {
    color: #303133;
    font-size: 20px;
}


.adicionar-novo{
    position: absolute;
    border-radius: 3em;
    height: 50px;
    width: 50px;
    bottom: 60px;
    right: 50px;
    color: white;
    background: #F05782;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    box-shadow: -1px 4px 6px 0px rgba(0, 0, 0, 0.46);
}

.filtro{
    position: fixed;
    top: -1px;
    background: white;
    z-index: 2;
    width: 100vw;
    height: 68%;
    transition: 1s;
    height: auto;
    padding-bottom: 30px;
}

.filtro-hide {
    top: -390px;
    opacity: 0;
}

.background-hide {
    opacity: 0;
}